/**
 * General
 */

.pos-rel {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

/**
  Nav Sidebar
 */

.nav-sidebar.nav > li.active {
  background-color: #1ab394;
}

.nav-sidebar.nav > li.active:hover {
  background-color: #1ab394;
}

.nav-sidebar.nav > li.active > a {
  color: #FFFFFF;
}

.nav-sidebar.nav > li.active > a:hover {
  color: #FFFFFF;
  background-color: #1ab394;
}

/**
 Loader
 */

.loading-container {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
  background-color: #fff;
  opacity: 0.8;
}

.loading-inner {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.loading-cell {
  display: table-cell;
  vertical-align: middle;
}

.loading-progress {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

/**
 Page Header
 */

.list-page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-page-header .btn-new-entity {
  position: absolute;
  bottom: 2px;
}

/**
 File Container
 */

.file-container .image {
  background-size: cover;
  background-position: 50% 50%;
}

.file-container .file-name {
  height: 60px;
  word-break: break-all;
}

.file-container .btn-delete-file {
  color: grey;
}

/**
 * Entity row hover buttons
 */

.entity-row .action button,
.entity-row .action a {
  visibility: hidden;
  -webkit-transition-property: none;
  transition-property: none;
}

.entity-row:hover .action button,
.entity-row:hover .action a {
  visibility: visible;
  -webkit-transition-property: none;
  transition-property: none;
}

.item-container .image-box {
  min-height: 200px;
  padding: 0;
}

.note-row .action button {
  visibility: hidden;
}

.note-row:hover .action button {
  visibility: visible;
}

/**
 Avatar Container
 */

.avatar-container .image-container {
  height: 150px;
  background-size: cover;
  background-position: 50% 50%;
}

.role-row .action button,
.role-row .action a {
  visibility: hidden;
  -webkit-transition-property: none;
  transition-property: none;
}

.role-row:hover .action button,
.role-row:hover .action a {
  visibility: visible;
  -webkit-transition-property: none;
  transition-property: none;
}

